/* Typography */
.h1 {
    @apply font-display text-4xl font-normal leading-tight tracking-tighter;
}

.h2 {
    @apply font-display text-3xl font-normal leading-tight tracking-tighter;
}

.h3 {
    @apply font-display text-2xl font-normal leading-tight;
}

.h4 {
    @apply font-display text-xl font-normal leading-snug tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }

    .h3 {
        @apply text-3xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-full leading-snug transition-all duration-200 ease-in-out;
}

.btn {
    @apply px-8 py-3.5;
}

.btn-sm {
    @apply px-5 py-2;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-sand-dark focus:border-ink-faint;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-lg;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-ink-faint;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-plum-600;
}
